body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*background-color: black;*/
  background-image:url(./custom_images/vWave.jpg);
  background-attachment:fixed;
}

/* Navigation Bar */

#home {
  background-color:  #2b1180;
  padding-bottom: 1cm;
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 1.5cm;
  padding-bottom: 2.5cm;
  height: 5mm;
 }

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  text-decoration:none;
}

.topmenu:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

.topdiv {
  background-color:#4c388b;
  float: right;
  margin-right: 2cm;
  padding-top: 0.25cm;
  padding-bottom: 0.25cm;
  border:2px solid goldenrod;
  border-radius: 20px;
}

.profile_name {
  float: left;
  padding-left: 55px;
  font-size: 30px;
  color: white;
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2px;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}

/* Titles */

h1 {
  margin-top:10px;
}

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: goldenrod;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
  background-color:rgba(0, 0, 0, 0.418);
}

/* About Me */

.about-me {
  display: flex;
  align-items: center;
}

#about-me h1 {
  font-size: 65px;
  margin-top: 10px;
  color: goldenrod;
}

#about-me h3 {
  color:goldenrod;
}

#about-me p {
  font-size: 25px;
  color: rgb(210, 210, 210);
  margin-top: 5px;
}

.profile_image {
  width: 200px;
  height: fit-content;
  vertical-align: middle;
  margin: 5px;
  margin-top:20px;
  padding: 10px;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill {
  border: 1px solid gray;
  background-color:black;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  color: lightgray;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 100px;
  align-items: center;
}

.skills h3 {
  align-items: center;
  font-size: 40px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Work Experience */

.work-container {
  margin-top: 30px;
  margin-left: 60px;
}

.work-container hr {
  border: 1px solid rgb(243, 213, 61);
  width: 75%;
  margin-left: 5cm;
  margin-bottom: 25px;
}

.work-card {
  border-radius: 25px;
  margin: 0 25px 25px 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: lightgrey;
  background-color:#1a0a4d;
  box-shadow: 0 3px 10px rgb(250, 127, 26);
}

.work-desc {
  display:flex;
  justify-content:space-between;
  margin-right:15%;
  margin-bottom:20px;
}

.work-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.work-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Projects Grid */

.projects {
  color:aliceblue;
}

.projects-container {
  display:flex;
  row-gap:30px;
  column-gap:15px;
  flex-flow:row wrap;
  padding: 20px;
}

.project-card {
  background-color:#4d0a3c;
  width:30%;
  padding-left:10px;
  padding-right:10px;
  border-radius:7px;
  box-shadow: 0px 0px 12px rgb(26, 183, 250);
}

.test {
  display:grid;
}

/* Recommendations */

.introduction {
  color:aliceblue;
}

.all_recommendations {
  display: flex;
  align-items: center;
  margin-left: 1in;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background-color:#2b1180;
  color:antiquewhite;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  border:1px solid gray;
  font-size: 18px;
  height:150px
}

.recommendation span {
  color: #7600bc;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #2b1180;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid #7600bc;
  color: #7600bc;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin: 10px;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid rgb(236, 180, 61);
  background-color:rgba(0, 0, 0, 0.546);
  width: 50%;
}

#textbox {
  background-color:rgba(0, 0, 0, 0.567);
  color:aliceblue;
}

#new_recommendation{
  background-color:rgba(0, 0, 0, 0.567);
  color:aliceblue;
}

#recommend_btn {
  background-color:rgba(0, 0, 0, 0.567);
  color:#9902f1;
}

#recommend_btn:hover {
  background-color:#9902f1;
  color:aliceblue;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #7600bc;
  border: 1px solid #7600bc;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
